
/*
Montserrat-Black.ttf
Montserrat-BlackItalic.ttf
Montserrat-Bold.ttf
Montserrat-BoldItalic.ttf
Montserrat-ExtraBold.ttf
Montserrat-ExtraBoldItalic.ttf
Montserrat-ExtraLight.ttf
Montserrat-ExtraLightItalic.ttf
Montserrat-Italic.ttf
Montserrat-Light.ttf
Montserrat-LightItalic.ttf
Montserrat-Medium.ttf
Montserrat-MediumItalic.ttf
Montserrat-Regular.ttf
Montserrat-SemiBold.ttf
Montserrat-SemiBoldItalic.ttf
Montserrat-Thin.ttf
Montserrat-ThinItalic.ttf
*/

a,
a:visited {
  color: #00539e;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url('./fonts/Montserrat-Light.ttf') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat LightItalic'), local('Montserrat-LightItalic'), url('./fonts/Montserrat-LightItalic.ttf') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('./fonts/Montserrat-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url('./fonts/Montserrat-Italic.ttf') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('./fonts/Montserrat-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat BoldItalic'), local('Montserrat-BoldItalic'), url('./fonts/Montserrat-BoldItalic.ttf') format('woff2');
}

/*
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('./fonts/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'), url('./fonts/Montserrat-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat LightItalic'), local('Montserrat-LightItalic'), url('./fonts/Montserrat-LightItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url('./fonts/Montserrat-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat Italic'), local('Montserrat-Italic'), url('./fonts/Montserrat-Italic.ttf') format('ttf');
}
*/